
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#title {
	text-align:center;
	font-family: 'Bangers'
}

.footer {
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 10px 0;
	box-sizing: border-box;
	background-color: #18181a ;
}
.inner_footer {
	display: block;
	margin: 0 auto ;
	width: 1100px;
	height: 100%;

}
.inner_footer .logo_container{
	width: 30%;
	float: left;
	height: 100%;
	display: block;
}
.inner_footer .logo_container img{
	width: 240px ;
	height: auto;

}
.inner_footer .footer_third{
	width: calc(21.6666666667% - 20px);
	margin-right: 50px;
	float: left;
	height: 100%;

}
.inner_footer .footer_third:last-child{
	margin-right: 0;
}
.inner_footer .footer_third h1{
	font-family: 'arial';
	font-size: 22px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: 20px;

}
.inner_footer .footer_third a{
	font-family: 'arial';
	font-size: 18px;
	color: white;
	display: block;
	font-weight: 200;
	width: 100%;
	padding-bottom: 5px;

}
.inner_footer .footer_third li{
	display: inline-block;
	padding: 0 5px;
	font-size: 20px;
}

.inner_footer .footer_third span{
	color:white;
	font-family: 'arial';
	font-size: 16px;
	font-weight: 200;
	display: block;
	width: 100%;
	padding-top: 20px;
}
@media(max-width: 600px){
	.footer .inner_footer{
		width: 90%
	}
	.inner_footer .logo_container,
	.inner_footer .footer_third{
		width: 100%;
		margin-bottom: 30px;
	}
}

body {

  background-repeat: no-repeat; 
  background-size: cover; 
}
#title {
	 font-family: 'Bangers';
	color: #4caf50;
	text-align:center;
	font-size: -webkit-xxx-large;
    font-weight: 100;
    text-shadow: 6px 2px 5px green;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


